.ant-btn-primary{
    background: #1677ff !important;
}
.customTable td, .customTable th {
    border: 1px solid #d1d5db;
    padding: 0.5rem;
}
.customTicket::before{
    content: "\2713";
    font-size: 2.4rem;
    font-family: sans-serif;
    display: inline;
    color:red;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    text-align: end;
    border-radius: 3px;
    transition: all 0.35s;
  }
.ant-pagination-item-active{
    border-color: #fb923c !important;
}
.ant-pagination-item-active a {
    color: #fb923c !important;
}
.ant-pagination{
    display: flex;
    justify-content: center;
}
#lich .ant-picker-content td,#lich .ant-picker-content th{
    border: 1px solid #d1d5db;
}
#lich .ant-picker-content th{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}
#lich .ant-picker-cell-selected .ant-picker-calendar-date-value, #lich .ant-picker-cell-today .ant-picker-calendar-date-value{
    color: #fb923c;
    font-weight: 500;
}
#lich .ant-picker-cell-selected .ant-picker-cell-inner{
    background-color: #fffaf0;
}
#lich .ant-picker-cell-selected .ant-picker-cell-inner::before, #lich .ant-picker-cell-today .ant-picker-cell-inner::before{
    border-color: #fb923c;
}
#lich .ant-radio-button-wrapper-checked{
    color: #fb923c;
    border-color: #fb923c;
}
#lich .ant-radio-button-wrapper-checked::before{
    background-color: #fb923c;
}
#lich .ant-radio-button-wrapper:hover{
    color: #fb923c;
}
#lich .ant-select-selector{
    border-color: #fb923c;
}